@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap");

* {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  font-family: "Ubuntu", sans-serif;
  background-color: #fff2ff;
  font-family: "Roboto Mono", monospace;
}
.home-container {
  margin-top: 200px;
  text-align: center;
}
.home-name {
  font-size: 65px;
  font-weight: 300;
}

.typewriter {
  font-size: xx-large;
}

.profile-image {
  border-radius: 1000px;
  height: 300px;
  width: 300px;
  display: block;
  margin: 0px auto;
}

.profile-image:hover {
  animation: bounce 2s infinite;
}

.wave {
  animation: bounce 2s infinite;
}

.cursor {
  line-height: 40px;
  margin-left: 3px;
  animation: blink 0.8s infinite;
  width: 4px;
  height: 30px;
  display: inline-block;
}

.nav-bar {
  background-color: black;
}

.nav-left {
  text-align: left;
  justify-content: left;
  background-color: black;
  color: white;
  padding: 20px; 
}

.nav-name{
  font-size: x-large;
  padding-left: 20px;;
  background-color: black;
}

.nav-right {
  background-color: black;
  padding: 20px;
  display: flex;
  text-align: right;
  justify-content: right;
}

.nav-button {
  padding: 5px;
  margin: 5px;
  text-decoration: none;
  background-color: black;
  color: white;
  border-bottom: 1px solid black;
}

.nav-button:hover {
  text-decoration: none;
  background-color: black;
  color: white;
  border-bottom: 1px solid white;
}


.skills-container {
  margin-top: 75px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #caaffe;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-bottom: 50px;
}

.skill-icon {
  justify-self: center;
  margin: 10px;
  height: 75px;
  border-radius: 10px;
  background-color: #caaffe;

}

.project-title {
  margin-top: 30px;
}

.project-container {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.project-card {
  margin: 20px;
  border-radius: 10px;
  background-color: white;
}

.background-white {
  background-color: white;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

@keyframes blink {
  0% {
    background: #222;
  }
  50% {
    background: none;
  }
  100% {
    background: #222;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
